
[15:34, 15/05/2024] Maria: /*Adicionar as propriedades margin e padding no seletor universal (asterisco) */
*{
    margin: 0; /altera o espaçamento externo/
    padding: 0; /altera o espaçamento interno/
}/**/

body {
    font-family: 'Poppins', sans-serif;
   
}

/Iniciar Seção cabeçalho/
.cabecalho {
    background-color: #424E61; /cor de fundo/
    color: #ffffff; /cor/
    display: flex; /propriedade flex para organizar os itens do cabaçalho, lado a lado/
    justify-content: space-around; /alinha as imagens e os textos com espaçamento entre eles/
    align-items: center; /alinhamento de itens centralizado/
    padding: 24px 0; /altera o espaçamento interno/
}

.cabecalho-imagem{
    width: 8%; /**/
    border-radius: 22px; /para definir bordas arredondadas da imagem/  
}

/*A lis…
[15:46, 15/05/2024] Maria: !DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Criativo</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<!--Inicio seção cabeçalho-->

<header class="cabecalho">
    <img class="cabecalho-imagem" src="./img/ocean.jpg" alt="logo da escola">
    <h1 class="cabecalho-titulo">Meu Site Criativo</h1>
    <ul class="cabecalho-lista">
        <li class="cabecalho-lista-item"><a href="#escola">ESCOLA</a></li>
        <li class="cabecalho-lista-item"><a href="#estudante">ESTUDANTE</a></li>
    </ul>
</header>
<!--fim da seção cabeçalho-->

<!--Inicio seção escola-->

<section class="escola">
    <div class="escola-div-conteudo">

        <h2 class="escola-titulo">Colégio Cívico Militar Professor Francisco Villanueva
        <p class="escola-texto-um">Ensino Fundamental e Ensino Médio</p></h2>
        <p class="escola-texto-dois">A turma 2C é a mais estudiosa e famosa...</p>
</div>

<img class="escola-imagem" src="./img/peixe.webp" alt="foto da escola">

</section>
<!--começo da seção estudante-->
<section class="estudante"> 
    <h2 class="estudante-titulo">Quem Somos!!!</h2>
    <p>Alunos do 2º ano da disciplina de Matemática II-Trilha de Programação-2ºC</p>
  
    <div class="estudantes-todos">
        <div class="estudante-div">
            <img class="estudante-imagem" src="./img/estudante1.jpg"  alt="imagem estudante">
            <h3 class="estudante-nome">Estudante1</h3>
            <a href="https://github.com//"><img class="estudante-icone" src="./img/github.png" alt="icone github"></a>
            <a href="https://www.instagram.com/villanuevamusic/"><img class="estudante-icone" src="./img/instagram.png" alt="icone instagram"></a>
            <a href="https://m.facebook.com/profile.php?id=120733584614917"><img class="estudante-icone" src="./img/facebook.png" alt="icone facebook"></a>
        </div>
        
        <div class="estudante-div">
            <img class="estudante-imagem" src="./img/estudante1.jpg"  alt="imagem estudante">
            <h3 class="estudante-nome">Estudante2</h3>
            <a href="https://github.com//"><img class="estudante-icone" src="./img/github.png" alt="icone github"></a>
            <a href="https://www.instagram.com/villanuevamusic/"><img class="estudante-icone" src="./img/instagram.png" alt="icone instagram"></a>
            <a href="https://m.facebook.com/profile.php?id=120733584614917"><img class="estudante-icone" src="./img/facebook.png" alt="icone facebook"></a>
        </div>
        <div class="estudante-div">
            <img class="estudante-imagem" src="./img/estudante1.jpg"  alt="imagem estudante">
            <h3 class="estudante-nome">Estudante3</h3>
            <a href="https://github.com//"><img class="estudante-icone" src="./img/github.png" alt="icone github"></a>
            <a href="https://www.instagram.com/villanuevamusic/"><img class="estudante-icone" src="./img/instagram.png" alt="icone instagram"></a>
            <a href="https://m.facebook.com/profile.php?id=120733584614917"><img class="estudante-icone" src="./img/facebook.png" alt="icone facebook"></a>
        </div>
        <div class="estudante-div">
            <img class="estudante-imagem" src="./img/estudante1.jpg"  alt="imagem estudante">
            <h3 class="estudante-nome">Estudante4</h3>
            <a href="https://github.com//"><img class="estudante-icone" src="./img/github.png" alt="icone github"></a>
            <a href="https://www.instagram.com/villanuevamusic/"><img class="estudante-icone" src="./img/instagram.png" alt="icone instagram"></a>
            <a href="https://m.facebook.com/profile.php?id=120733584614917"><img class="estudante-icone" src="./img/facebook.png" alt="icone facebook"></a>
        </div>
      
        <div class="estudante-div">
            <img class="estudante-imagem" src="./img/estudante1.jpg"  alt="imagem estudante">
            <h3 class="estudante-nome">Estudante5</h3>
            <a href="https://github.com//"><img class="estudante-icone" src="./img/github.png" alt="icone github"></a>
            <a href="https://www.instagram.com/villanuevamusic/"><img class="estudante-icone" src="./img/instagram.png" alt="icone instagram"></a>
            <a href="https://m.facebook.com/profile.php?id=120733584614917"><img class="estudante-icone" src="./img/facebook.png" alt="icone facebook"></a>
        </div>
        <div class="estudante-div">
            <img class="estudante-imagem" src="./img/estudante1.jpg"  alt="imagem estudante">
            <h3 class="estudante-nome">Estudante6</h3>
            <a href="https://github.com//"><img class="estudante-icone" src="./img/github.png" alt="icone github"></a>
            <a href="https://www.instagram.com/villanuevamusic/"><img class="estudante-icone" src="./img/instagram.png" alt="icone instagram"></a>
            <a href="https://m.facebook.com/profile.php?id=120733584614917"><img class="estudante-icone" src="./img/facebook.png" alt="icone facebook"></a>
        </div>
        <div class="estudante-div">
            <img class="estudante-imagem" src="./img/estudante1.jpg"  alt="imagem estudante">
            <h3 class="estudante-nome">Estudante7</h3>
            <a href="https://github.com//"><img class="estudante-icone" src="./img/github.png" alt="icone github"></a>
            <a href="https://www.instagram.com/villanuevamusic/"><img class="estudante-icone" src="./img/instagram.png" alt="icone instagram"></a>
            <a href="https://m.facebook.com/profile.php?id=120733584614917"><img class="estudante-icone" src="./img/facebook.png" alt="icone facebook"></a>
        </div>
        <div class="estudante-div">
            <img class="estudante-imagem" src="./img/estudante1.jpg"  alt="imagem estudante">
            <h3 class="estudante-nome">Estudante8</h3>
            <a href="https://github.com//"><img class="estudante-icone" src="./img/github.png" alt="icone github"></a>
            <a href="https://www.instagram.com/villanuevamusic/"><img class="estudante-icone" src="./img/instagram.png" alt="icone instagram"></a>
            <a href="https://m.facebook.com/profile.php?id=120733584614917"><img class="estudante-icone" src="./img/facebook.png" alt="icone facebook"></a>
        </div>
    </div>
  </section> <!--fim da seção estudante-->
  
  <footer class="rodape">
    <p class="copyright">&copy; Copyright Colégio Estadual Cívico-Militar Prof. Francisco Villanueva - 2024</p>
  </footer> 
  
  </body>
  </html>
[15:46, 15/05/2024] Maria: *{margin: 0;
    padding: 0;
}


.cabecalho{
    background-color: rgb(255, 254, 254);
    color: rgba(255, 255, 255, 0.377);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-titulo{
    color: #000000;
    font-style: italic;
    font-variation-settings:
}

.cabecalho-imagem{
    width: 8%;
    border-radius: 22px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a{
    text-decoration: none;
    color:rgb(128, 245, 245);
}

a:hover {
    color: #00f7ff;
}

a:active{
    color: rgb(0, 218, 247);

}

.escola-imagem{
    width: 25%;
    height: 300px;
    border-radius: 82px;
}

.escola{
    background-image:linear-gradient( #fdfdfd, #9b90ff) ;
    color: rgb(6, 142, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 45%;
}

.escola-titulo{
    padding:24px 0;
}

p{
    padding:0 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.estudante{
    color: rgb(6, 92, 253);
    background-image:linear-gradient( #9b90ff, #ffffff) ;
}
.estudante-titulo{
    padding: 24px 0; /*Altera o espaçamento interno,o primeiro valor bordas verticais (superior e inferior) e o 
    segundo valor bordas horizontais(esquerda e direita)*/
    margin: 0 120px; /* alinhar o espaçamento */
    font-size: 25px;/tamanho da fonte/
}

p{
    padding: 0 120px; /* alinhar o espaçamento */
    font-size: 20px;/tamanho da fonte/  
 }

 .estudantes-todos{
    display: grid; /* especificar o espaçamento do grid(organizar por colunas) */
    grid-template-columns: 25% 25% 25% 25%; 
    padding: 0 60px; /*Altera o espaçamento interno,o primeiro valor bordas verticais (superior e inferior) e o 
    segundo valor bordas horizontais(esquerda e direita)*/
    
}

.estudante-div{
    text-align: center;/texto centralizado/  
    padding: 12px 0; /*Altera o espaçamento interno,o primeiro valor bordas verticais (superior e inferior) e o 
    segundo valor bordas horizontais(esquerda e direita)*/
}

.estudante-imagem{
    width: 120px;  /largura/
}

.estudante-nome{
    font-size: 14px;/tamanho da fonte/    
}

.estudante-icone{
    width: 24px;  /largura/
    padding: 4px 8px;/*Altera o espaçamento interno,o primeiro valor bordas verticais (superior e inferior) e o 
    segundo valor bordas horizontais(esquerda e direita)*/
}
/FIM SEÇÃO ESTUDANTE/

/SEÇÃO RODAPÉ/
.rodape{
    background-color:  #ffffff; /define um gradiente linear como a imagem de fundo)/ 
}

.copyright{
    text-align: center;/texto centralizado/
    height: 100px;/altura/
    line-height: 100px;/altura da linha/
    font-size: 12px;/tamanho da fonte/
}
/FIM SEÇÃO RODAPÉ/